*{
    background-color: #0F1B22;
}

@font-face {
    font-family: myFirstFont;
    src: url(./stratabold.otf);
    font-weight: bold;
  }

h1 {
    font-family: myFirstFont;
    font-size: 36px;
    color: #C1E4DD;
}



h2 {
    font-family: myFirstFont;
    font-size: 30px;
    color: #E49E71;
}

h3 {
    font-family: myFirstFont;
    font-size: 30px;
    color: #E07E6F;
}

h4 {
    font-family: myFirstFont;
    font-size: 16px;
    color: #C1E4DD;
}


p {
    color: white;
    font-size: 16px;
    font-family: arial;
}

hr {
    border-color: #707070;
}

.phone-screen-width {
    width: 400px;
    text-align: center;
}

.phone-screen-width-left {
    width: 400px;
}

.box-link {
  width: 160px;
  height: 160px;
  background-color: transparent;
}

.phone-button {
  width: 260px;
  height: 40px;
  background-color: transparent;
  border-radius: 50px;
}

.no-link {
  text-decoration: none;
}

.button1 {
        border: none;
        border-radius: 50px;
        color: #0F1B22;
        background-color: #E07E6F;
        margin: 15px 60px;
        width: 260px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 14px;
        cursor: pointer;
        color: #0F1B22;
}

a[href^="tel:"] {
  text-decoration: none;
  color: #0F1B22;
  font-family: myFirstFont;
  background-color: #E07E6F;
  }

  a {
    text-decoration: none;
    color: #0F1B22;
    font-family: myFirstFont;
    background-color: #E07E6F;
    }

.testing {
  text-decoration: none;
  background-color: #E07E6F;
  color: #0F1B22;
}

.button1a {
  border: none;
  border-radius: 50px;
  color: #0F1B22;
  background-color: #E07E6F;
  margin: 15px 60px;
  width: 260px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  color: #0F1B22;
  font-family: arial;
}

.button2 {
    border: none;
    border-radius: 50px;
    color: #0F1B22;
    background-color: #E49E71;
    margin: 15px 60px;
    width: 260px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
}

.button3 {
    border: #E49E71;
    border-radius: 50px;
    color: #E49E71;
    border-style: solid;
    border-width: 1px;
    margin: 15px 60px;
    width: 260px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
}

.important {
    border: none;
    border-radius: 15px;
    color: #0F1B22;
    background-color: #E49E71;
    margin: 15px 20px;
    width: 360px;
    height: 60px;
    text-align: left;
    padding-left: 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
}

.steps {
    border: #E49E71;
    border-radius: 15px;
    color: #E49E71;
    border-style: solid;
    border-width: 1px;
    margin: 15px 20px;
    width: 360px;
    height: 60px;
    text-align: left;
    padding-left: 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
}

.arrow-padding {
    padding-left: 230px;
}

.empty-space {
    width: 400px;
    height: 100px;
}

#mainGrid {
    display: grid;
    grid-template-rows: 160px 25px 160px 25px 160px  25px 160px  25px 160px 25px;
    grid-template-columns: 160px 160px;
    margin: 18px 18px 18px 18px;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-areas:
    "firstproject secondproject"
    "gridtext gridtext"
    "thirdproject fourthproject"
    "gridtext gridtext"
    "fifthproject sixthproject"
    "gridtext gridtext"
    "seventhproject eighthproject"
    "gridtext gridtext"
    "ninthproject tenthproject"
    "gridtext gridtext"
  }

  .gridtext {
    text-align: center;
    color: #C1E4DD;
    padding-bottom: 10px;
  }
  
  #firstproject {
    grid-area: "firstproject";
    background-image: url("./koala.svg");
  }
  
  #secondproject {
    grid-area: "secondproject";
    background-image: url("./possum.svg");
  }
  
  #thirdproject {
    grid-area: "thirdproject";
    background-image: url("./kangaroo.svg");
  } 
  
  #fourthproject {
    grid-area: "fourthproject";
    background-image: url("./wombat.svg");
  } 
  
  #fifthproject {
    grid-area: "fifthproject";
    background-image: url("./platypus.svg");
  } 
  
  #sixthproject {
    grid-area: "sixthproject";
    background-image: url("./monotreme.svg");
  } 

  #seventhproject {
    grid-area: "seventhproject";
    background-image: url("./rockwallaby.svg");
  } 
  
  #eighthproject {
    grid-area: "eighthproject";
    background-image: url("./bettong.svg");
  } 
  
  #ninthproject {
    grid-area: "ninthproject";
    background-image: url("./echidna.svg");
  } 
  
  #tenthproject {
    grid-area: "tenthproject";
    background-image: url("./unsure.svg");
  } 
  
   
  .heroGridArea {
    align-items: center;
  }




  .white-background {
      width: 400px;
      height: 300px;
      background-color: white;
  }
 
